.fundo_img{
    background-color:rgb(38, 27, 53);
    width: 100%;
    height: 300px;
}

.img_contratante {
    background-image: url(img/162.jpg);
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 300px;
}

.Titulo-Contratante{
    font-size: 2.5em;
}

.imgCard{
    width: 200px;
    height: 200px;
    margin-left: 10px;
    border-radius: 100%;
    border: black 2px solid;
}

.cardtitle{
    color: #800080  !important;
    /* margin-left: 20px;
    margin-right: 20px; */
    border: 1px #800080 solid;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
}

.cardData{
    color: #800080  !important;
    text-align: center;
    padding: 5px;
    border: 1px #800080 solid;
    border-radius: 20px;
}

.cardStatus{
    color: #800080  !important;
    text-align: center;
    padding: 5px;
}